openapi: 3.0.3
info:
  title: Stock Watchlist API
  description: |
    A comprehensive REST API for managing stock watchlists with real-time price notifications in a terminal application.
    
    This API allows users to:
    - Create and manage multiple watchlists
    - Add and remove stocks from watchlists
    - Track stock information including ticker symbols and prices
    - Set price targets and receive FCM notifications
    - Monitor watchlist performance with real-time WebSocket price feeds
    
    The API uses Firebase Firestore for data persistence, WebSocket for real-time price updates, and FCM for push notifications.
  version: 1.0.0
  contact:
    name: Stock Watchlist API Support
    email: support@musaffa.us
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://terminal.musaffa.us
    description: Production server
  - url: http://localhost:3000
    description: Development server

paths:
  /health:
    get:
      summary: Health Check
      description: Verify that the API service is running and responsive
      tags:
        - System
      responses:
        '200':
          description: Service is healthy and operational
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                    description: Indicates the service status
                  message:
                    type: string
                    example: API is running
                    description: Human-readable status message
                  timestamp:
                    type: string
                    format: date-time
                    example: "2024-01-17T10:30:00.000Z"
                    description: Current server timestamp

  /watchlists:
    get:
      summary: Get All Watchlists
      description: Retrieve a list of all watchlists for the authenticated user
      tags:
        - Watchlists
      responses:
        '200':
          description: Successfully retrieved watchlists
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Watchlist'
                    description: Array of user's watchlists
                  count:
                    type: integer
                    minimum: 0
                    example: 3
                    description: Total number of watchlists
                  default_watchlist_id:
                    type: string
                    nullable: true
                    example: "watchlist_1758125631041"
                    description: ID of the user's default watchlist (null if none set)
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: Create New Watchlist
      description: Create a new watchlist with the specified name
      tags:
        - Watchlists
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  example: "My Tech Portfolio"
                  description: Name of the watchlist
            examples:
              tech_portfolio:
                summary: Technology Portfolio
                value:
                  name: "Technology Stocks"
              energy_sector:
                summary: Energy Sector
                value:
                  name: "Energy Sector Watchlist"
      responses:
        '201':
          description: Watchlist created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  message:
                    type: string
                    example: "Watchlist created successfully"
                  data:
                    $ref: '#/components/schemas/Watchlist'
        '400':
          description: Bad request - Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /watchlists/{watchlistId}/stocks:
    get:
      summary: Get Stocks in Watchlist
      description: Retrieve all stocks within a specific watchlist
      tags:
        - Stocks
      parameters:
        - name: watchlistId
          in: path
          required: true
          description: Unique identifier of the watchlist
          schema:
            type: string
          example: "watchlist_1758125631041"
      responses:
        '200':
          description: Successfully retrieved stocks from watchlist
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stock'
                    description: Array of stocks in the watchlist
                  count:
                    type: integer
                    minimum: 0
                    example: 5
                    description: Total number of stocks in the watchlist
        '404':
          description: Watchlist not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: Add Stocks to Watchlist
      description: |
        Add one or multiple stocks to the specified watchlist.
        
        **Consistent Structure:**
        Always send a JSON object with a `stocks` array containing stock objects.
        - For single stock: `{"stocks": [{"ticker": "AAPL", "current_price": 150.25}]}`
        - For multiple stocks: `{"stocks": [{"ticker": "AAPL", "current_price": 150.25}, {"ticker": "TSLA", "current_price": 240.30}]}`
      tags:
        - Stocks
      parameters:
        - name: watchlistId
          in: path
          required: true
          description: Unique identifier of the watchlist
          schema:
            type: string
          example: "watchlist_1758125631041"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - stocks
              properties:
                stocks:
                  type: array
                  minItems: 1
                  description: Array of stocks to add to the watchlist (can contain one or multiple stocks)
                  items:
                    type: object
                    required:
                      - ticker
                    properties:
                      ticker:
                        type: string
                        pattern: '^[A-Z]{1,5}$'
                        example: "AAPL"
                        description: Stock ticker symbol (1-5 uppercase letters)
                      current_price:
                        type: number
                        format: float
                        minimum: 0
                        example: 150.25
                        description: Current market price of the stock
            examples:
              single_stock:
                summary: Single Stock Addition
                description: Add one stock to the watchlist
                value:
                  stocks:
                    - ticker: "AAPL"
                      current_price: 150.25
              multiple_stocks:
                summary: Multiple Stocks Addition
                description: Add multiple stocks to the watchlist
                value:
                  stocks:
                    - ticker: "AAPL"
                      current_price: 150.25
                    - ticker: "NVDA"
                      current_price: 450.80
                    - ticker: "GOOGL"
                      current_price: 2800.50
              tech_portfolio:
                summary: Technology Portfolio
                description: Add multiple tech stocks
                value:
                  stocks:
                    - ticker: "AAPL"
                      current_price: 150.25
                    - ticker: "MSFT"
                      current_price: 380.75
                    - ticker: "NVDA"
                      current_price: 450.80
                    - ticker: "TSLA"
                      current_price: 240.30
      responses:
        '201':
          description: Stock(s) added to watchlist successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  message:
                    type: string
                    example: "Watchlist updated successfully"
                  data:
                    type: object
                    properties:
                      added_stocks:
                        type: array
                        items:
                          $ref: '#/components/schemas/Stock'
                        description: Successfully added stocks
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            ticker:
                              type: string
                              example: "INVALID"
                            error:
                              type: string
                              example: "Ticker is required for each stock"
                        description: Failed stock additions with error details
                      total_requested:
                        type: integer
                        minimum: 0
                        example: 3
                        description: Total number of stocks requested
                      successfully_added:
                        type: integer
                        minimum: 0
                        example: 3
                        description: Number of stocks successfully added
                      failed:
                        type: integer
                        minimum: 0
                        example: 0
                        description: Number of stocks that failed to add
              examples:
                single_stock_response:
                  summary: Single Stock Addition Response
                  value:
                    status: "success"
                    message: "Watchlist updated successfully"
                    data:
                      added_stocks:
                        - id: "AAPL"
                          ticker: "AAPL"
                          current_price: 150.25
                          date_added: "2024-01-17T10:30:00.000Z"
                      errors: []
                      total_requested: 1
                      successfully_added: 1
                      failed: 0
                multiple_stocks_response:
                  summary: Multiple Stocks Addition Response
                  value:
                    status: "success"
                    message: "Watchlist updated successfully"
                    data:
                      added_stocks:
                        - id: "AAPL"
                          ticker: "AAPL"
                          current_price: 150.25
                          date_added: "2024-01-17T10:30:00.000Z"
                        - id: "NVDA"
                          ticker: "NVDA"
                          current_price: 450.80
                          date_added: "2024-01-17T10:30:00.000Z"
                        - id: "GOOGL"
                          ticker: "GOOGL"
                          current_price: 2800.50
                          date_added: "2024-01-17T10:30:00.000Z"
                      errors: []
                      total_requested: 3
                      successfully_added: 3
                      failed: 0
                partial_success_response:
                  summary: Partial Success Response
                  value:
                    status: "success"
                    message: "Watchlist updated successfully"
                    data:
                      added_stocks:
                        - id: "AAPL"
                          ticker: "AAPL"
                          current_price: 150.25
                          date_added: "2024-01-17T10:30:00.000Z"
                        - id: "NVDA"
                          ticker: "NVDA"
                          current_price: 450.80
                          date_added: "2024-01-17T10:30:00.000Z"
                      errors:
                        - ticker: "INVALID"
                          error: "Ticker is required for each stock"
                      total_requested: 3
                      successfully_added: 2
                      failed: 1
        '400':
          description: Bad request - Invalid stock data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Watchlist not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /watchlists/{watchlistId}/stocks/{ticker}:
    delete:
      summary: Remove Stock from Watchlist
      description: Remove a specific stock from the watchlist using its ticker symbol
      tags:
        - Stocks
      parameters:
        - name: watchlistId
          in: path
          required: true
          description: Unique identifier of the watchlist
          schema:
            type: string
          example: "watchlist_1758125631041"
        - name: ticker
          in: path
          required: true
          description: Stock ticker symbol to remove
          schema:
            type: string
            pattern: '^[A-Z]{1,5}$'
          example: "AAPL"
      responses:
        '200':
          description: Stock removed from watchlist successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  message:
                    type: string
                    example: "Stock removed from watchlist"
                  data:
                    type: object
                    properties:
                      ticker:
                        type: string
                        example: "AAPL"
                        description: The removed stock's ticker symbol
        '404':
          description: Watchlist or stock not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /user/preferences:
    get:
      summary: Get User Preferences
      description: Retrieve user preferences including default watchlist settings
      tags:
        - User Preferences
      responses:
        '200':
          description: User preferences retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  data:
                    $ref: '#/components/schemas/UserPreferences'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /user/preferences/default-watchlist:
    put:
      summary: Set Default Watchlist
      description: Set a specific watchlist as the user's default watchlist
      tags:
        - User Preferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - watchlist_id
              properties:
                watchlist_id:
                  type: string
                  example: "watchlist_1758125631041"
                  description: ID of the watchlist to set as default
            examples:
              set_default:
                summary: Set Default Watchlist
                value:
                  watchlist_id: "watchlist_1758125631041"
      responses:
        '200':
          description: Default watchlist set successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  message:
                    type: string
                    example: "Default watchlist set successfully"
                  data:
                    $ref: '#/components/schemas/UserPreferences'
        '400':
          description: Bad request - Missing watchlist ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Watchlist not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Remove Default Watchlist
      description: Remove the current default watchlist setting (user will need to manually select watchlists)
      tags:
        - User Preferences
      responses:
        '200':
          description: Default watchlist removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  message:
                    type: string
                    example: "Default watchlist removed successfully"
                  data:
                    type: object
                    properties:
                      user_id:
                        type: string
                        example: "user123"
                      default_watchlist_id:
                        type: string
                        nullable: true
                        example: null
                        description: Now set to null
                      last_updated:
                        type: string
                        format: date-time
                        example: "2024-01-17T10:30:00.000Z"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /fcm/register-token:
    post:
      summary: Register FCM Token
      description: Register a Firebase Cloud Messaging token for push notifications
      tags:
        - FCM Tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  example: "fcm_device_token_here"
                  description: FCM device token from client
                device_type:
                  type: string
                  enum: [android, ios, web]
                  example: "android"
                  description: Type of device
                device_name:
                  type: string
                  example: "My Phone"
                  description: Human-readable device name
            examples:
              android_device:
                summary: Android Device
                value:
                  token: "fcm_android_token_123"
                  device_type: "android"
                  device_name: "Samsung Galaxy S21"
              ios_device:
                summary: iOS Device
                value:
                  token: "fcm_ios_token_456"
                  device_type: "ios"
                  device_name: "iPhone 13 Pro"
      responses:
        '201':
          description: FCM token registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  message:
                    type: string
                    example: "FCM token registered successfully"
                  data:
                    type: object
                    properties:
                      token_id:
                        type: string
                        example: "uuid-here"
                      device_type:
                        type: string
                        example: "android"
                      device_name:
                        type: string
                        example: "My Phone"
                      created_at:
                        type: string
                        format: date-time
                        example: "2024-01-17T10:30:00.000Z"
        '400':
          description: Bad request - Missing FCM token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /fcm/tokens:
    get:
      summary: Get User FCM Tokens
      description: Retrieve all registered FCM tokens for the user
      tags:
        - FCM Tokens
      responses:
        '200':
          description: FCM tokens retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        token_id:
                          type: string
                          example: "uuid-here"
                        device_type:
                          type: string
                          example: "android"
                        device_name:
                          type: string
                          example: "My Phone"
                        created_at:
                          type: string
                          format: date-time
                          example: "2024-01-17T10:30:00.000Z"
                        last_used:
                          type: string
                          format: date-time
                          example: "2024-01-17T10:30:00.000Z"
                  count:
                    type: integer
                    example: 2
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /fcm/tokens/{tokenId}:
    put:
      summary: Update FCM Token
      description: Update FCM token information
      tags:
        - FCM Tokens
      parameters:
        - name: tokenId
          in: path
          required: true
          description: Unique identifier of the FCM token
          schema:
            type: string
          example: "uuid-here"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                device_name:
                  type: string
                  example: "Updated Device Name"
                is_active:
                  type: boolean
                  example: true
            examples:
              update_device_name:
                summary: Update Device Name
                value:
                  device_name: "My Updated Phone"
              deactivate_token:
                summary: Deactivate Token
                value:
                  is_active: false
      responses:
        '200':
          description: FCM token updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  message:
                    type: string
                    example: "FCM token updated successfully"
                  data:
                    type: object
                    properties:
                      token_id:
                        type: string
                        example: "uuid-here"
                      last_updated:
                        type: string
                        format: date-time
                        example: "2024-01-17T10:30:00.000Z"
        '404':
          description: FCM token not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Remove FCM Token
      description: Remove (deactivate) an FCM token
      tags:
        - FCM Tokens
      parameters:
        - name: tokenId
          in: path
          required: true
          description: Unique identifier of the FCM token
          schema:
            type: string
          example: "uuid-here"
      responses:
        '200':
          description: FCM token removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  message:
                    type: string
                    example: "FCM token removed successfully"
                  data:
                    type: object
                    properties:
                      token_id:
                        type: string
                        example: "uuid-here"
        '404':
          description: FCM token not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /targets:
    post:
      summary: Create Price Target
      description: Create a new price target for stock price notifications
      tags:
        - Price Targets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ticker
                - target_price
                - alert_type
                - watchlist_id
              properties:
                ticker:
                  type: string
                  pattern: '^[A-Z]{1,5}$'
                  example: "AAPL"
                  description: Stock ticker symbol
                target_price:
                  type: number
                  format: float
                  minimum: 0
                  example: 150.00
                  description: Target price to monitor
                alert_type:
                  type: string
                  enum: [above, below]
                  example: "above"
                  description: Alert when price goes above or below target
                watchlist_id:
                  type: string
                  example: "watchlist_1758125631041"
                  description: ID of the watchlist this target belongs to
                is_active:
                  type: boolean
                  example: true
                  description: Whether the target is active
            examples:
              above_target:
                summary: Price Above Target
                value:
                  ticker: "AAPL"
                  target_price: 150.00
                  alert_type: "above"
                  watchlist_id: "watchlist_1758125631041"
                  is_active: true
              below_target:
                summary: Price Below Target
                value:
                  ticker: "TSLA"
                  target_price: 200.00
                  alert_type: "below"
                  watchlist_id: "watchlist_1758125631042"
                  is_active: true
      responses:
        '201':
          description: Price target created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  message:
                    type: string
                    example: "Price target created successfully"
                  data:
                    type: object
                    properties:
                      target_id:
                        type: string
                        example: "uuid-here"
                      ticker:
                        type: string
                        example: "AAPL"
                      target_price:
                        type: number
                        example: 150.00
                      alert_type:
                        type: string
                        example: "above"
                      is_active:
                        type: boolean
                        example: true
                      created_at:
                        type: string
                        format: date-time
                        example: "2024-01-17T10:30:00.000Z"
        '400':
          description: Bad request - Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - Active target already exists for this ticker
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      summary: Get All Price Targets
      description: Retrieve all active price targets for the user
      tags:
        - Price Targets
      responses:
        '200':
          description: Price targets retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        target_id:
                          type: string
                          example: "uuid-here"
                        ticker:
                          type: string
                          example: "AAPL"
                        target_price:
                          type: number
                          example: 150.00
                        alert_type:
                          type: string
                          example: "above"
                        is_active:
                          type: boolean
                          example: true
                        created_at:
                          type: string
                          format: date-time
                          example: "2024-01-17T10:30:00.000Z"
                        last_updated:
                          type: string
                          format: date-time
                          example: "2024-01-17T10:30:00.000Z"
                        triggered:
                          type: boolean
                          example: false
                        triggered_at:
                          type: string
                          format: date-time
                          nullable: true
                          example: null
                        current_price:
                          type: number
                          example: 145.25
                  count:
                    type: integer
                    example: 3
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /targets/watchlist/{watchlistId}:
    get:
      summary: Get Price Targets for Watchlist
      description: Retrieve all price targets for a specific watchlist
      tags:
        - Price Targets
      parameters:
        - name: watchlistId
          in: path
          required: true
          description: Unique identifier of the watchlist
          schema:
            type: string
          example: "watchlist_1758125631041"
      responses:
        '200':
          description: Price targets retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        target_id:
                          type: string
                          example: "uuid-here"
                        ticker:
                          type: string
                          example: "AAPL"
                        target_price:
                          type: number
                          example: 150.00
                        alert_type:
                          type: string
                          example: "above"
                        watchlist_id:
                          type: string
                          example: "watchlist_1758125631041"
                        watchlist_name:
                          type: string
                          example: "My Tech Portfolio"
                        is_active:
                          type: boolean
                          example: true
                        created_at:
                          type: string
                          format: date-time
                          example: "2024-01-17T10:30:00.000Z"
                        last_updated:
                          type: string
                          format: date-time
                          example: "2024-01-17T10:30:00.000Z"
                        triggered:
                          type: boolean
                          example: false
                        triggered_at:
                          type: string
                          format: date-time
                          nullable: true
                          example: null
                        current_price:
                          type: number
                          example: 145.25
                  count:
                    type: integer
                    example: 2
                  watchlist:
                    type: object
                    properties:
                      id:
                        type: string
                        example: "watchlist_1758125631041"
                      name:
                        type: string
                        example: "My Tech Portfolio"
        '404':
          description: Watchlist not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /targets/{id}:
    get:
      summary: Get Price Target by ID
      description: Retrieve a specific price target by its ID
      tags:
        - Price Targets
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the price target
          schema:
            type: string
          example: "uuid-here"
      responses:
        '200':
          description: Price target retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  data:
                    type: object
                    properties:
                      target_id:
                        type: string
                        example: "uuid-here"
                      ticker:
                        type: string
                        example: "AAPL"
                      target_price:
                        type: number
                        example: 150.00
                      alert_type:
                        type: string
                        example: "above"
                      is_active:
                        type: boolean
                        example: true
                      created_at:
                        type: string
                        format: date-time
                        example: "2024-01-17T10:30:00.000Z"
                      last_updated:
                        type: string
                        format: date-time
                        example: "2024-01-17T10:30:00.000Z"
                      triggered:
                        type: boolean
                        example: false
                      triggered_at:
                        type: string
                        format: date-time
                        nullable: true
                        example: null
                      current_price:
                        type: number
                        example: 145.25
        '404':
          description: Price target not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      summary: Update Price Target
      description: Update an existing price target
      tags:
        - Price Targets
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the price target
          schema:
            type: string
          example: "uuid-here"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target_price:
                  type: number
                  format: float
                  minimum: 0
                  example: 155.00
                alert_type:
                  type: string
                  enum: [above, below]
                  example: "below"
                is_active:
                  type: boolean
                  example: false
            examples:
              update_price:
                summary: Update Target Price
                value:
                  target_price: 155.00
              change_alert_type:
                summary: Change Alert Type
                value:
                  alert_type: "below"
              deactivate_target:
                summary: Deactivate Target
                value:
                  is_active: false
      responses:
        '200':
          description: Price target updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  message:
                    type: string
                    example: "Price target updated successfully"
                  data:
                    type: object
                    properties:
                      target_id:
                        type: string
                        example: "uuid-here"
                      last_updated:
                        type: string
                        format: date-time
                        example: "2024-01-17T10:30:00.000Z"
        '400':
          description: Bad request - Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Price target not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Delete Price Target
      description: Delete (deactivate) a price target
      tags:
        - Price Targets
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the price target
          schema:
            type: string
          example: "uuid-here"
      responses:
        '200':
          description: Price target deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  message:
                    type: string
                    example: "Price target deleted successfully"
                  data:
                    type: object
                    properties:
                      target_id:
                        type: string
                        example: "uuid-here"
        '404':
          description: Price target not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /notifications:
    get:
      summary: Get Notification History
      description: Retrieve notification history for the user
      tags:
        - Notifications
      parameters:
        - name: limit
          in: query
          description: Maximum number of notifications to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
      responses:
        '200':
          description: Notification history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "notification-id"
                        target_id:
                          type: string
                          example: "target-uuid"
                        ticker:
                          type: string
                          example: "AAPL"
                        target_price:
                          type: number
                          example: 150.00
                        current_price:
                          type: number
                          example: 150.25
                        alert_type:
                          type: string
                          example: "above"
                        sent_at:
                          type: string
                          format: date-time
                          example: "2024-01-17T10:30:00.000Z"
                        status:
                          type: string
                          example: "sent"
                  count:
                    type: integer
                    example: 5
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /notifications/{id}:
    get:
      summary: Get Notification by ID
      description: Retrieve a specific notification by its ID
      tags:
        - Notifications
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the notification
          schema:
            type: string
          example: "notification-id"
      responses:
        '200':
          description: Notification retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: "notification-id"
                      target_id:
                        type: string
                        example: "target-uuid"
                      ticker:
                        type: string
                        example: "AAPL"
                      target_price:
                        type: number
                        example: 150.00
                      current_price:
                        type: number
                        example: 150.25
                      alert_type:
                        type: string
                        example: "above"
                      sent_at:
                        type: string
                        format: date-time
                        example: "2024-01-17T10:30:00.000Z"
                      status:
                        type: string
                        example: "sent"
        '404':
          description: Notification not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /websocket/status:
    get:
      summary: Get WebSocket Connection Status
      description: Check the status of the WebSocket price feed connection
      tags:
        - WebSocket
      responses:
        '200':
          description: WebSocket status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  data:
                    type: object
                    properties:
                      isConnected:
                        type: boolean
                        example: true
                        description: Whether WebSocket is connected
                      subscribedTickers:
                        type: array
                        items:
                          type: string
                        example: ["AAPL", "MSFT", "GOOG"]
                        description: List of subscribed tickers
                      cachedPrices:
                        type: integer
                        example: 3
                        description: Number of cached prices
                      reconnectAttempts:
                        type: integer
                        example: 0
                        description: Number of reconnection attempts
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /websocket/prices:
    get:
      summary: Get Current Cached Prices
      description: Retrieve all current cached prices from WebSocket feed
      tags:
        - WebSocket
      responses:
        '200':
          description: Cached prices retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  data:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        symbol:
                          type: string
                          example: "AAPL"
                        price:
                          type: number
                          example: 150.25
                        volume:
                          type: integer
                          example: 1234567
                        timestamp:
                          type: integer
                          example: 1703123456
                        date_time_utc:
                          type: string
                          format: date-time
                          example: "2023-12-21T10:30:56Z"
                        last_updated:
                          type: string
                          format: date-time
                          example: "2024-01-17T10:30:00.000Z"
                    example:
                      AAPL:
                        symbol: "AAPL"
                        price: 150.25
                        volume: 1234567
                        timestamp: 1703123456
                        date_time_utc: "2023-12-21T10:30:56Z"
                        last_updated: "2024-01-17T10:30:00.000Z"
                  count:
                    type: integer
                    example: 3
                    description: Number of cached prices
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /research-notes/{ticker}:
    get:
      summary: Get Research Notes for Ticker
      description: Retrieve all research notes the user saved for a stock ticker
      tags:
        - Research Notes
      parameters:
        - name: ticker
          in: path
          required: true
          description: Stock ticker symbol
          schema:
            type: string
            pattern: '^[A-Z]{1,5}$'
          example: "AAPL"
      responses:
        '200':
          description: Research notes retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ResearchNoteItem'
                  ticker:
                    type: string
                    example: "AAPL"
                  count:
                    type: integer
                    example: 2
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: Add Research Note for Ticker
      description: Add a research note entry for a specific stock ticker
      tags:
        - Research Notes
      parameters:
        - name: ticker
          in: path
          required: true
          description: Stock ticker symbol
          schema:
            type: string
            pattern: '^[A-Z]{1,5}$'
          example: "AAPL"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - note
              properties:
                note:
                  type: string
                  minLength: 1
                  example: "Q3 earnings beat; watching gross margin expansion and AI services."
      responses:
        '201':
          description: Research note added successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  message:
                    type: string
                    example: "Research note added successfully"
                  data:
                    $ref: '#/components/schemas/ResearchNoteItem'
        '400':
          description: Bad request - Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/screener/strategies:
    post:
      summary: Create Screener Strategy
      description: Save a filter strategy configuration for the stock screener
      tags:
        - Screener Strategies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - filters
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 100
                  example: "High Growth Tech Stocks"
                  description: Strategy name (required, max 100 characters)
                description:
                  type: string
                  maxLength: 500
                  example: "Technology sector stocks with high revenue growth and low P/E ratios"
                  description: Strategy description (optional, max 500 characters)
                filters:
                  type: object
                  description: Dynamic filters object containing filter IDs and values
                  additionalProperties: true
                  example:
                    sector: "Technology"
                    marketCap: "10b_50b"
                    revenueGrowth: "over_20"
                    peTTM: "under_15"
                    country: "US"
                    exchange: ["NYSE", "NASDAQ"]
                sortBy:
                  type: string
                  example: "usdMarketCap:desc"
                  description: Sort preference (e.g., 'usdMarketCap:desc', 'peTTM:asc')
                isDefault:
                  type: boolean
                  example: false
                  description: Mark as default strategy (default: false)
            examples:
              high_growth_tech:
                summary: High Growth Tech Strategy
                value:
                  name: "High Growth Tech Stocks"
                  description: "Technology sector stocks with high revenue growth and low P/E ratios"
                  filters:
                    sector: "Technology"
                    marketCap: "10b_50b"
                    revenueGrowth: "over_20"
                    peTTM: "under_15"
                    country: "US"
                    exchange: ["NYSE", "NASDAQ"]
                  sortBy: "usdMarketCap:desc"
                  isDefault: false
      responses:
        '201':
          description: Strategy created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  message:
                    type: string
                    example: "Strategy saved successfully"
                  data:
                    $ref: '#/components/schemas/ScreenerStrategy'
        '400':
          description: Bad request - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      summary: Get All Screener Strategies
      description: Retrieve all saved screener strategies for the user
      tags:
        - Screener Strategies
      parameters:
        - name: includeDefault
          in: query
          description: Include default strategies (default: true)
          schema:
            type: boolean
          example: true
        - name: limit
          in: query
          description: Max results per page (default: 50, max: 100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
        - name: offset
          in: query
          description: Pagination offset (default: 0)
          schema:
            type: integer
            minimum: 0
            default: 0
          example: 0
      responses:
        '200':
          description: Strategies retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ScreenerStrategyListItem'
                  pagination:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 5
                      limit:
                        type: integer
                        example: 50
                      offset:
                        type: integer
                        example: 0
                      hasMore:
                        type: boolean
                        example: false
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/screener/strategies/{strategyId}:
    get:
      summary: Get Screener Strategy by ID
      description: Retrieve details of a specific strategy to apply it
      tags:
        - Screener Strategies
      parameters:
        - name: strategyId
          in: path
          required: true
          description: Unique identifier of the strategy
          schema:
            type: string
          example: "strategy_abc123"
      responses:
        '200':
          description: Strategy retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  data:
                    $ref: '#/components/schemas/ScreenerStrategy'
        '404':
          description: Strategy not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Delete Screener Strategy
      description: Delete a saved screener strategy
      tags:
        - Screener Strategies
      parameters:
        - name: strategyId
          in: path
          required: true
          description: Unique identifier of the strategy
          schema:
            type: string
          example: "strategy_abc123"
      responses:
        '200':
          description: Strategy deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  message:
                    type: string
                    example: "Strategy deleted successfully"
        '404':
          description: Strategy not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /trading-ideas:
    get:
      summary: Get All Trading Ideas
      description: Retrieve all trading ideas including analyst names, titles, companies, tickers, prices, and supporting report links.
      tags:
        - Trading Ideas
      responses:
        '200':
          description: Trading ideas retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TradingIdea'
                  count:
                    type: integer
                    example: 5
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: Create Trading Idea
      description: Create a new trading idea with analyst details and supporting PDF links.
      tags:
        - Trading Ideas
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - title
                - company
                - action
                - conviction
              properties:
                name:
                  type: string
                  example: "John Doe"
                  description: Analyst name
                title:
                  type: string
                  example: "Reliance Industries - Strong Buy Opportunity"
                  description: Idea title/headline
                company:
                  type: string
                  example: "Reliance Industries"
                  description: Company name
                ticker:
                  type: string
                  example: "RELIANCE.NS"
                  description: Stock ticker symbol
                r_org:
                  type: string
                  example: "Alpha Research"
                  description: Research institute/organization providing the idea
                action:
                  type: string
                  enum: [Buy, Sell, Hold, Reduce, Add]
                  example: "Buy"
                  description: Analyst recommendation
                target:
                  type: number
                  format: float
                  example: 2500.00
                  description: Target price in INR
                current:
                  type: number
                  format: float
                  example: 2300.00
                  description: Current price when the idea was created
                supporting_reports:
                  type: array
                  items:
                    type: string
                    format: uri
                  example:
                    - "https://example.com/report-one.pdf"
                    - "https://example.com/report-two.pdf"
                  description: Array of PDF links supporting the idea
                conviction:
                  type: number
                  format: float
                  minimum: 1
                  maximum: 5
                  example: 3.5
                  description: Analyst conviction score (1-5, decimals allowed)
            examples:
              idea_example:
                summary: Trading Idea Example
                value:
                  name: "John Doe"
                  title: "Reliance Industries - Strong Buy Opportunity"
                  company: "Reliance Industries"
                  ticker: "RELIANCE.NS"
                  r_org: "Alpha Research"
                  action: "Buy"
                  target: 2500.00
                  current: 2300.00
                  supporting_reports:
                    - "https://example.com/report-one.pdf"
                    - "https://example.com/report-two.pdf"
                  conviction: 4.5
      responses:
        '201':
          description: Trading idea created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                  message:
                    type: string
                    example: "Trading idea created successfully"
                  data:
                    $ref: '#/components/schemas/TradingIdea'
        '400':
          description: Bad request - Missing or invalid fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/portfolios:
    post:
      summary: Save Portfolio
      description: Creates a new active portfolio with holdings and calculated fields
      tags:
        - Portfolios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortfolioInput'
            examples:
              portfolio_example:
                summary: AI Acceleration Basket
                value:
                  portfolio_name: "AI Acceleration Basket"
                  client_name: "John Doe"
                  client_age: 35
                  risk_profile: "Moderate"
                  strategy_type: "Growth"
                  benchmark: "NIFTY 50"
                  objective: "Capital appreciation through tech disruption"
                  initial_capital: 100000.0
                  investment_horizon: "5 Years"
                  expected_rate_of_return: 12.5
                  commentary: "Supporting commentary and rationale..."
                  holdings:
                    - ticker: "AAPL"
                      company: "Apple Inc"
                      exchange: "NASDAQ"
                      sector: "Technology"
                      current_price: 160.50
                      target_price: 190.00
                      quantity: 250
                      allocation_percent: 40.0
                      allocation_amount: 40125.0
                      market_cap: 2500000000000.0
                      pe_ratio: 28.5
                      notes: "Strong fundamentals"
                  status: "active"
      responses:
        '200':
          description: Portfolio saved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  message:
                    type: string
                    example: "Portfolio saved successfully"
                  data:
                    $ref: '#/components/schemas/Portfolio'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      summary: Get All Portfolios
      description: Retrieves all portfolios with optional filtering by status, pagination, and search
      tags:
        - Portfolios
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Items per page
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [created_at, updated_at, portfolio_name, initial_capital]
            default: updated_at
          description: Sort field
        - name: sort_order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
          description: Sort order
        - name: search
          in: query
          schema:
            type: string
          description: Search by portfolio name or client name
        - name: status
          in: query
          schema:
            type: string
            enum: [active, draft, archived]
          description: Filter by portfolio status (optional - if not provided, returns all portfolios)
      responses:
        '200':
          description: Portfolios retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  data:
                    type: object
                    properties:
                      portfolios:
                        type: array
                        items:
                          $ref: '#/components/schemas/PortfolioSummary'
                      pagination:
                        $ref: '#/components/schemas/Pagination'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/portfolios/{portfolio_id}:
    get:
      summary: Get Portfolio by ID
      description: Retrieves full details of a specific portfolio
      tags:
        - Portfolios
      parameters:
        - name: portfolio_id
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier of the portfolio
      responses:
        '200':
          description: Portfolio retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  data:
                    $ref: '#/components/schemas/Portfolio'
        '404':
          description: Portfolio not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      summary: Update Portfolio
      description: Updates an existing portfolio or draft
      tags:
        - Portfolios
      parameters:
        - name: portfolio_id
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier of the portfolio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortfolioInput'
      responses:
        '200':
          description: Portfolio updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  message:
                    type: string
                    example: "Portfolio updated successfully"
                  data:
                    $ref: '#/components/schemas/Portfolio'
        '404':
          description: Portfolio not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Delete Portfolio
      description: Permanently deletes a portfolio (drafts only, or with confirmation)
      tags:
        - Portfolios
      parameters:
        - name: portfolio_id
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier of the portfolio
      responses:
        '200':
          description: Portfolio deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  message:
                    type: string
                    example: "Portfolio deleted successfully"
        '403':
          description: Cannot delete active portfolio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Portfolio not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/portfolios/drafts:
    post:
      summary: Save Draft Portfolio
      description: Creates a new draft portfolio (incomplete portfolio)
      tags:
        - Portfolios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                portfolio_name:
                  type: string
                  example: "AI Acceleration Basket (Draft)"
                client_name:
                  type: string
                  nullable: true
                  example: "John Doe"
                initial_capital:
                  type: number
                  nullable: true
                  example: 100000.0
                holdings:
                  type: array
                  items:
                    $ref: '#/components/schemas/Holding'
                  default: []
      responses:
        '200':
          description: Draft saved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  message:
                    type: string
                    example: "Draft saved successfully"
                  data:
                    $ref: '#/components/schemas/Portfolio'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      summary: Get Draft Portfolios
      description: Retrieves all draft portfolios with pagination and filtering
      tags:
        - Portfolios
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Items per page
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [created_at, updated_at, portfolio_name, initial_capital]
            default: updated_at
          description: Sort field
        - name: sort_order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
          description: Sort order
        - name: search
          in: query
          schema:
            type: string
          description: Search by portfolio name or client name
      responses:
        '200':
          description: Draft portfolios retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  data:
                    type: object
                    properties:
                      portfolios:
                        type: array
                        items:
                          $ref: '#/components/schemas/PortfolioSummary'
                      pagination:
                        $ref: '#/components/schemas/Pagination'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/portfolios/active:
    get:
      summary: Get Active Portfolios
      description: Retrieves all active portfolios with pagination and filtering
      tags:
        - Portfolios
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Items per page
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [created_at, updated_at, portfolio_name, initial_capital]
            default: updated_at
          description: Sort field
        - name: sort_order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
          description: Sort order
        - name: search
          in: query
          schema:
            type: string
          description: Search by portfolio name or client name
      responses:
        '200':
          description: Active portfolios retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  data:
                    type: object
                    properties:
                      portfolios:
                        type: array
                        items:
                          $ref: '#/components/schemas/PortfolioSummary'
                      pagination:
                        $ref: '#/components/schemas/Pagination'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/portfolios/archived:
    get:
      summary: Get Archived Portfolios
      description: Retrieves all archived portfolios with pagination and filtering
      tags:
        - Portfolios
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Items per page
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [created_at, updated_at, portfolio_name, initial_capital]
            default: updated_at
          description: Sort field
        - name: sort_order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
          description: Sort order
        - name: search
          in: query
          schema:
            type: string
          description: Search by portfolio name or client name
      responses:
        '200':
          description: Archived portfolios retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  data:
                    type: object
                    properties:
                      portfolios:
                        type: array
                        items:
                          $ref: '#/components/schemas/PortfolioSummary'
                      pagination:
                        $ref: '#/components/schemas/Pagination'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/portfolios/{portfolio_id}/archive:
    patch:
      summary: Archive Portfolio
      description: Moves a portfolio to archived status
      tags:
        - Portfolios
      parameters:
        - name: portfolio_id
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier of the portfolio
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                archive_reason:
                  type: string
                  example: "Portfolio completed"
      responses:
        '200':
          description: Portfolio archived successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  message:
                    type: string
                    example: "Portfolio archived successfully"
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                        enum: [archived]
                      archived_at:
                        type: string
                        format: date-time
        '404':
          description: Portfolio not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/portfolios/{portfolio_id}/unarchive:
    patch:
      summary: Unarchive Portfolio
      description: Moves an archived portfolio back to active
      tags:
        - Portfolios
      parameters:
        - name: portfolio_id
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier of the portfolio
      responses:
        '200':
          description: Portfolio unarchived successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  message:
                    type: string
                    example: "Portfolio unarchived successfully"
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                        enum: [active]
        '400':
          description: Portfolio is not archived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Portfolio not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    Watchlist:
      type: object
      description: A collection of stocks that a user wants to monitor
      properties:
        id:
          type: string
          example: "watchlist_1758125631041"
          description: Unique identifier for the watchlist
        name:
          type: string
          example: "My Tech Portfolio"
          description: Human-readable name of the watchlist
        date_created:
          type: string
          format: date-time
          example: "2024-01-17T10:30:00.000Z"
          description: Timestamp when the watchlist was created
        stock_count:
          type: integer
          minimum: 0
          example: 5
          description: Number of stocks currently in the watchlist
        is_default:
          type: boolean
          example: true
          description: Whether this watchlist is set as the user's default
      required:
        - id
        - name
        - date_created
        - stock_count
        - is_default

    Stock:
      type: object
      description: A stock entry within a watchlist
      properties:
        id:
          type: string
          example: "AAPL"
          description: Unique identifier (same as ticker)
        ticker:
          type: string
          pattern: '^[A-Z]{1,5}$'
          example: "AAPL"
          description: Stock ticker symbol
        current_price:
          type: number
          format: float
          minimum: 0
          example: 150.25
          description: Current market price of the stock
        date_added:
          type: string
          format: date-time
          example: "2024-01-17T10:30:00.000Z"
          description: Timestamp when the stock was added to the watchlist
      required:
        - id
        - ticker
        - current_price
        - date_added

    UserPreferences:
      type: object
      description: User preferences including default watchlist settings
      properties:
        user_id:
          type: string
          example: "user123"
          description: Unique identifier for the user
        default_watchlist_id:
          type: string
          nullable: true
          example: "watchlist_1758125631041"
          description: ID of the user's default watchlist (null if none set)
        date_set:
          type: string
          format: date-time
          nullable: true
          example: "2024-01-17T10:30:00.000Z"
          description: Timestamp when the default watchlist was first set
        last_updated:
          type: string
          format: date-time
          nullable: true
          example: "2024-01-17T10:30:00.000Z"
          description: Timestamp when preferences were last updated
      required:
        - user_id
        - default_watchlist_id
        - date_set
        - last_updated

    Portfolio:
      type: object
      description: Complete portfolio with all details and holdings
      properties:
        id:
          type: string
          example: "portfolio_123"
          description: Unique identifier for the portfolio
        portfolio_name:
          type: string
          example: "AI Acceleration Basket"
          description: Name of the portfolio
        client_name:
          type: string
          example: "John Doe"
          description: Name or ID of the client
        client_age:
          type: integer
          nullable: true
          example: 35
          description: Age of the client
        risk_profile:
          type: string
          nullable: true
          enum: [Conservative, Moderate, Aggressive, Tactical, Income, Balanced]
          example: "Moderate"
          description: Risk profile of the portfolio
        strategy_type:
          type: string
          nullable: true
          enum: [Growth, Value, Dividend, Thematic, Balanced]
          example: "Growth"
          description: Investment strategy type
        benchmark:
          type: string
          nullable: true
          example: "NIFTY 50"
          description: Benchmark index
        objective:
          type: string
          nullable: true
          example: "Capital appreciation through tech disruption"
          description: Investment objective
        initial_capital:
          type: number
          format: float
          example: 100000.0
          description: Total investment amount
        investment_horizon:
          type: string
          nullable: true
          enum: ["6 Months", "1 Year", "3 Years", "5 Years", "7 Years", "10 Years"]
          example: "5 Years"
          description: Investment time horizon
        expected_rate_of_return:
          type: number
          format: float
          nullable: true
          minimum: 8.0
          maximum: 30.0
          example: 12.5
          description: Expected annual rate of return (percentage)
        commentary:
          type: string
          nullable: true
          example: "Supporting commentary and rationale..."
          description: Additional commentary
        allocated_amount:
          type: number
          format: float
          example: 40125.0
          description: Total amount allocated across all holdings
        allocation_percent:
          type: number
          format: float
          example: 40.125
          description: Percentage of initial capital allocated
        estimated_returns:
          type: number
          format: float
          example: 73450.25
          description: Estimated returns based on expected rate and horizon
        holdings_count:
          type: integer
          example: 1
          description: Number of holdings in the portfolio
        holdings:
          type: array
          items:
            $ref: '#/components/schemas/Holding'
          description: Array of portfolio holdings
        status:
          type: string
          enum: [active, draft, archived]
          example: "active"
          description: Portfolio status
        created_at:
          type: string
          format: date-time
          nullable: true
          example: "2024-01-15T10:00:00Z"
          description: Timestamp when portfolio was created
        updated_at:
          type: string
          format: date-time
          nullable: true
          example: "2024-01-15T10:00:00Z"
          description: Timestamp when portfolio was last updated
        archived_at:
          type: string
          format: date-time
          nullable: true
          example: "2024-01-20T10:00:00Z"
          description: Timestamp when portfolio was archived
        archive_reason:
          type: string
          nullable: true
          example: "Portfolio completed"
          description: Reason for archiving
      required:
        - id
        - portfolio_name
        - status

    PortfolioInput:
      type: object
      description: Input schema for creating or updating a portfolio
      properties:
        portfolio_name:
          type: string
          example: "AI Acceleration Basket"
        client_name:
          type: string
          example: "John Doe"
        client_age:
          type: integer
          nullable: true
          example: 35
        risk_profile:
          type: string
          nullable: true
          enum: [Conservative, Moderate, Aggressive, Tactical, Income, Balanced]
        strategy_type:
          type: string
          nullable: true
          enum: [Growth, Value, Dividend, Thematic, Balanced]
        benchmark:
          type: string
          nullable: true
          example: "NIFTY 50"
        objective:
          type: string
          nullable: true
        initial_capital:
          type: number
          format: float
          example: 100000.0
        investment_horizon:
          type: string
          nullable: true
          enum: ["6 Months", "1 Year", "3 Years", "5 Years", "7 Years", "10 Years"]
        expected_rate_of_return:
          type: number
          format: float
          nullable: true
          minimum: 8.0
          maximum: 30.0
        commentary:
          type: string
          nullable: true
        holdings:
          type: array
          items:
            $ref: '#/components/schemas/HoldingInput'
        status:
          type: string
          enum: [active, draft, archived]
          example: "active"

    PortfolioSummary:
      type: object
      description: Summary view of portfolio for list/card display
      properties:
        id:
          type: string
          example: "portfolio_123"
        portfolio_name:
          type: string
          example: "AI Acceleration Basket"
        client_name:
          type: string
          example: "John Doe"
        initial_capital:
          type: number
          format: float
          example: 100000.0
        allocated_amount:
          type: number
          format: float
          example: 40125.0
        allocation_percent:
          type: number
          format: float
          example: 40.125
        holdings_count:
          type: integer
          example: 1
        estimated_returns:
          type: number
          format: float
          example: 73450.25
        investment_horizon:
          type: string
          nullable: true
          example: "5 Years"
        expected_rate_of_return:
          type: number
          format: float
          nullable: true
          example: 12.5
        strategy_type:
          type: string
          nullable: true
          example: "Growth"
        risk_profile:
          type: string
          nullable: true
          example: "Moderate"
        status:
          type: string
          enum: [active, draft, archived]
          example: "active"
        last_updated:
          type: string
          format: date-time
          nullable: true
          example: "2024-01-15T10:00:00Z"
        created_at:
          type: string
          format: date-time
          nullable: true
          example: "2024-01-15T10:00:00Z"
      required:
        - id
        - portfolio_name
        - status

    Holding:
      type: object
      description: A stock holding within a portfolio
      properties:
        id:
          type: string
          example: "holding_456"
          description: Unique identifier for the holding
        ticker:
          type: string
          example: "AAPL"
          description: Stock ticker symbol
        company:
          type: string
          nullable: true
          example: "Apple Inc"
          description: Company name
        exchange:
          type: string
          nullable: true
          example: "NASDAQ"
          description: Stock exchange
        sector:
          type: string
          nullable: true
          example: "Technology"
          description: Industry sector
        current_price:
          type: number
          format: float
          example: 160.50
          description: Current stock price
        target_price:
          type: number
          format: float
          example: 190.00
          description: Target price for the stock
[...]
